@page "/posts"

@using Photography.WebApps.Management.Data
@inject PostService PostService

<h3>用户管理</h3>

@if (posts != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>文字</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                <tr>
                    <td><a href="./user/@post.Id">@post.Text</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Photography.WebApps.Management.ViewModels.Post> posts;

    protected override async Task OnInitializedAsync()
    {
        
    }
}
