@inherits LayoutComponentBase

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/Logout">注销</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
