.embed-responsive .card-img {
    object-fit: cover;
}

.embed-responsive .card-img-center {
	padding: 8px;
}

.embed-responsive .card-img-left {
	padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.embed-responsive .card-img-right {
	padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.card-photo {
	border: 0;
}

.text {
	font-size: 4vw;
	font-weight: normal;
	font-stretch: normal;
	line-height: 43px;
	letter-spacing: -1px;
	color: #565656;
}

.blur {
	opacity: 0.1;
}

.div-password {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-password {
	background-color: #3d444d;
    color: white;
    width: 100%;
	border-radius: .25rem;
	margin-top: 20px;
}

.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20%;
}