.search-bar {
    background-color: #f2f2f2;
}

/* 避免被固定位置的search-bar挡住一部分 */
.margin-top-22 {
    margin-top: 22%;
}

/* 避免被固定位置的ad-bar挡住一部分 */
.margin-bottom-15 {
    margin-bottom: 15%;
}

.separator {
    background-color: #f2f2f2; 
    height: 10px;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ad-bar {
	background-color: #f2f2f2;
	cursor: pointer;
}

.dropdown-btn {
    border-color: lightgray;
    background-color: white;
    color: black;
}