<div class="container">
    <div class="row no-gutters">
        <img src="../../../assets/images/logo.png" class="mx-auto d-block">
    </div>
    <div class="row no-gutters">
        <span class="title mx-auto d-block">Sense - 记录你与世界的美</span>
    </div>
    <div class="row no-gutters">
        <span class="desc mx-auto d-block">Sense是一个专注于摄影约拍与图片分享的社交平台。得益于我们在摄影行业多年的资源累积，Sense吸引了海量的优秀Model和摄影师入驻平台，你可以在平台中快速找到约拍订单。</span>
    </div>
    <div class="row no-gutters">
        <div class="col-12 col-vertical-center">
            <button type="button" class="btn btn-outline-primary btn-download">立即下载</button>
        </div>
    </div>
</div>
