<!-- 用户信息 -->
<div class="row no-gutters">
    <div class="col-auto">
        <img src="{{post.user.avatar}}" class="rounded-circle avatar" routerLink="/download">
    </div>
    <div class="col col-vertical-center">
        <div class="row no-gutters text-center">
            <div class="col-auto name" routerLink="/download">{{post.user.nickname}}</div>
            <div class="col-auto">
                <span class="align-middle pl-2 pr-2 pt-1 pb-1 user-type">{{post.user.userType == 0 ? '摄影师' : '模特'}}</span>
            </div>
        </div>
        <div class="row no-gutters date">{{(post.updatedTime == null ? post.createdTime : post.updatedTime) | date: 'yyyy-MM-dd'}}</div>
    </div>
    <div class="col col-vertical-center">
        <button type="button" class="btn btn-outline-primary float-right btn-follow" (click)="goDownload()">+ 关注</button>
    </div>
</div>
