.div-password {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-password {
	background-color: #3d444d;
    color: white;
    width: 100%;
	border-radius: .25rem;
	margin-top: 20px;
}